{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Messenger{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Messenger</h1>
        <nav>
            <ul>
                <li><a href="{% url 'rooms' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">My Profile</a></li>
                <li><a href="{% url 'users' %}">Users</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>



    <script src="{% static 'script.js' %}"></script>
</body>
</html>

